pytest
openai<=2.2.0
pandas
wllvm
networkx
pydot<=3.0.4
psutil
transformers>=4.51.0
torch
torchvision
huggingface_hub
accelerate
langsmith
pydantic
tree-sitter-c==0.21.4
tree-sitter-cpp==0.21.0
./py-tree-sitter
flash-linear-attention
requests